<head>
    <title>Github trending developers</title>

	<!--...................Meta.................-->
	<meta name="title" content='Github trending developers'>
    <meta name="description" content='Github trending developers'>
	<meta name="keywords" content="">
    <meta name="author" content="">
	<meta name="owner" content="">
	<link href='' rel="canonical"> 
	<!--opengraph -->

	<!--altri-->
	<!--<meta http-equiv="content-language" content="it-IT,it">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tag %>  
	

 	<!--....................Icons...................-->
	<link rel="image_src" href="/assets/img-og.jpg">
	<link rel="shortcut icon" href="/favicon.ico"/>

	<!--link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png" -->


	<!--....................CSS..................-->
    <%= stylesheet_link_tag "application" %>
	
	
	<!--....................Javascript......................-->
    <%= javascript_include_tag "application" %> 
	
	<!-- analytics  -->
	<!-- ... -->

	
	<!--..................Internet Explorer................-->
	<!--[if lt IE 9]>
        <script type="text/javascript">
			$(function(){
				alert("Stai usando una versione non recente di Internet Explorer. Per utilizzare e vedere Mindigno correttamente, ti consigliamo vivamente di aggiornare il tuo browser alla versione 9 o di cambiare browser.");
			})
		</script>
	    <![endif]-->
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head> 